<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tic_Tac_Toe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Tic_Tac_Toe.Properties.Settings>
            <setting name="X_po_1" serializeAs="String">
                <value>3, 3</value>
            </setting>
            <setting name="X_po_2" serializeAs="String">
                <value>87, 87</value>
            </setting>
            <setting name="O_po_1" serializeAs="String">
                <value>91, 3</value>
            </setting>
            <setting name="O_po_2" serializeAs="String">
                <value>174, 87</value>
            </setting>
            <setting name="stat_go" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stat_win" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stat_dr" serializeAs="String">
                <value>0</value>
            </setting>
        </Tic_Tac_Toe.Properties.Settings>
    </userSettings>
</configuration>